<?xml version="1.0"?>
<robot name="vmecanumrover" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find mecanumrover_samples)/urdf/inertial_macro.xacro" />

    <xacro:macro name="lidar" params="prefix parent">

        <joint name="${prefix}_joint" type="fixed">
            <parent link="${parent}"/>
            <child  link="${prefix}_link"/>
        <!-- attach upper side -->
        <!--    <origin xyz="0.042 0 0.0570" rpy="0 0 0"/> -->
        <!-- attach lower side -->
            <origin xyz="0.042 0 -0.0570" rpy="${radians(180)} 0 0"/>  
        </joint>

        <link name="${prefix}_link">
            <visual>
            <geometry>
                <mesh filename="package://mecanumrover_samples/meshes/dae/mecanum_lider.dae" />
            </geometry>
            <material name="black"/>
            </visual>
            <collision>
            <geometry>
                <mesh filename="package://mecanumrover_samples/meshes/stl/mecanum_lider.stl" />
            </geometry>
            </collision>
            <inertial>
                <xacro:box_inertial mass="0.160" height="0.07" width="0.05" depth="0.05" />
            </inertial>  
        </link>

        <gazebo reference="${prefix}_link">
            <material>Gazebo/Black</material>
            <sensor type="ray" name="lrf_sensor">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>15</update_rate>
            <ray>
                <scan>
                <horizontal>
                    <samples>1000</samples>
                    <resolution>0.5</resolution>
                    <min_angle>-1.57</min_angle>
                    <max_angle>1.57</max_angle>
                </horizontal>
                </scan>
                <range>
                <min>0.15</min>
                <max>10.0</max>
                <resolution>0.001</resolution>
                </range>
                <noise>
                <type>gaussian</type>
                <mean>0.0</mean>
                <stddev>0.03</stddev>
                </noise>
            </ray>
            <plugin name="gazebo_ros_lrf_controller" filename="libgazebo_ros_laser.so">
                <topicName>/scan</topicName>
                <frameName>laser</frameName>
            </plugin>
            </sensor>
        </gazebo>
        
  </xacro:macro>
    
</robot>