<?xml version="1.0"?>
<robot name="vmecanumrover" xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="base_link"/>

  <xacro:include filename="$(find mecanumrover_samples)/urdf/wheel_macro.xacro" />
  
  <!-- joint and link set -->
  <joint name="body_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="body_link"/>
    <origin xyz="0 0 0.0" rpy="0 0 0"/>
  </joint>
  <link name="body_link">
    <visual>
      <geometry>
          <mesh filename="package://mecanumrover_samples/meshes/dae/mecanum_body.dae" />
      </geometry>
      <material name="gray"/>
    </visual>
    <collision>
      <geometry>
          <mesh filename="package://mecanumrover_samples/meshes/stl/mecanum_body.stl" />
      </geometry>
    </collision>
    <inertial>
        <xacro:box_inertial mass="14.004" height="0.135" width="0.28" depth="0.34" />
    </inertial>  
  </link>
  <gazebo reference="body_link">
    <material>Gazebo/White</material>
  </gazebo>

  <joint name="wheel0_attach_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="wheel0_attach_link"/>
    <origin xyz="0.115 0.132 0.075" rpy="0 0 ${radians(90)}"/>
  </joint>
  <link name="wheel0_attach_link" />
  <xacro:omni_wheel_set_l prefix="wheel0" parent="wheel0_attach_link" />

  <joint name="wheel1_attach_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="wheel1_attach_link"/>
    <origin xyz="0.115 -0.132 0.075" rpy="0 0 ${radians(-90)}"/>
  </joint>
  <link name="wheel1_attach_link" />
  <xacro:omni_wheel_set_r prefix="wheel1" parent="wheel1_attach_link" />


  <joint name="wheel2_attach_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="wheel2_attach_link"/>
    <origin xyz="-0.115 0.132 0.075" rpy="0 0 ${radians(90)}"/>
  </joint>
  <link name="wheel2_attach_link" />
  <xacro:omni_wheel_set_r prefix="wheel2" parent="wheel2_attach_link" />

  <joint name="wheel3_attach_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="wheel3_attach_link"/>
    <origin xyz="-0.115 -0.132 0.075" rpy="0 0 ${radians(-90)}"/>
  </joint>
  <link name="wheel3_attach_link" />
  <xacro:omni_wheel_set_l prefix="wheel3" parent="wheel3_attach_link" />


  <!-- option parts -->
  <xacro:include filename="$(find mecanumrover_samples)/urdf/camera_macro.xacro" />
  <xacro:include filename="$(find mecanumrover_samples)/urdf/depth_camera_macro.xacro"/>

  <xacro:include filename="$(find mecanumrover_samples)/urdf/optionattachboard_macro.xacro" />

  <xacro:include filename="$(find mecanumrover_samples)/urdf/lidar_macro.xacro" />

  <!-- base attachment(LiDER,emergency button,wyreless charge) board(front) -->
  <!--  upper side  --> 
<!--  <xacro:optionattachboard prefix="front" xyz="0.157 0 0.1665" z_dir="0" /> -->
  <!--  lower side  -->
  <xacro:optionattachboard parent="body_link" prefix="front" xyz="0.157 0 0.1585" z_dir="0" />   

  <!-- base attachment(LiDER,emergency button,wyreless charge) board(back) -->
  <!--  upper side  -->
<!--  <xacro:optionattachboard prefix="back" xyz="-0.157 0 0.1665" z_dir="180" /> -->
  <!--  lower side  -->
  <xacro:optionattachboard parent="body_link" prefix="back" xyz="-0.157 0 0.1585" z_dir="180" />

  <!-- camera -->
  <!--xacro:camera_macro parent="board_front_link" prefix="camera" xyz="0.04 0 0.05" /-->
  <xacro:depth_camera_macro parent="board_front_link" prefix="rgbd_camera" xyz="0.04 0.0 ${0.05+0.5}" />

  <xacro:lidar parent="board_front_link" prefix="front_lidar" />

  <!-- NUC PC  -->
  <!-- option attach board  -->
  <joint name="board_center_joint" type="fixed">
    <parent link="body_link"/>
    <child  link="board_center_link"/>
    <origin xyz="0.0 0 0.1665" rpy="0 0 0"/>
  </joint>
  <link name="board_center_link">
    <visual>
      <geometry>
          <mesh filename="package://mecanumrover_samples/meshes/dae/mecanum_nuc_board.dae" />
      </geometry>
      <material name="gray"/>
    </visual>
    <collision>
      <geometry>
          <mesh filename="package://mecanumrover_samples/meshes/stl/mecanum_nuc_board.stl" />
      </geometry>
    </collision>
    <inertial>
        <xacro:box_inertial mass="0.16" height="0.003" width="0.27" depth="0.095" />
    </inertial>  

  </link>
  <gazebo reference="board_center_link">
    <material>Gazebo/White</material>
  </gazebo>

  <!-- NUC  -->
  <joint name="nuc_joint" type="fixed">
    <parent link="board_center_link"/>
    <child  link="nuc_link"/>
    <origin xyz="0.0 0 0.019" rpy="0 0 0"/>
  </joint>
  <link name="nuc_link">
    <visual>
      <geometry>
          <mesh filename="package://mecanumrover_samples/meshes/dae/mecanum_nuc.dae" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
          <mesh filename="package://mecanumrover_samples/meshes/stl/mecanum_nuc.stl" />
      </geometry>
    </collision>
    <inertial>
        <xacro:box_inertial mass="1.18" height="0.0352" width="0.117" depth="0.112" />
    </inertial>  

  </link>
  <gazebo reference="nuc_link">
    <material>Gazebo/Black</material>
  </gazebo>





  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/vmecanumrover</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
      <odometryFrame>map</odometryFrame>
    </plugin>

    <plugin name="ground_truth" filename="libgazebo_ros_p3d.so">
      <frameName>world</frameName>
      <bodyName>base_link</bodyName>
      <topicName>/tracker</topicName>
      <updatRate>10.0</updatRate>
    </plugin>
  </gazebo>

</robot>
